<%= image_tag @portfolio_item.main_image %>
<h1><%= @portfolio_item.title %></h1>
<em><%= @portfolio_item.subtitle %></em>
<p><%= @portfolio_item.body %></p>

<h2>Technologies Used:</h2>

<% @portfolio_item.technologies.each do |t| %>
<p><%= t.name %></p>
<% end %>

<hr>

<%= params.inspect %><br />
<%= params[:id] %><br />
<%= params[:action] %><br />

<hr>
<%# Don't do this! but it's a good explainer %>
<%= Portfolio.find(params[:id]).title %><br />
<%= Portfolio.find(params[:id]).technologies %>